@import "variables";

/*reset*/
html{
  -ms-touch-action: none; //禁止触摸事件
}

body{
  font-family: "Microsoft Yahei",Helvetica,STHeiTi,sans-serif;//Helvetica 即可（手机端） Yahei 一般常用于pc端
  //font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
  line-height: 1.5;
  font-size: $fontSize;
  color: #333;
  background-color: $themeBg;
  -webkit-user-select: none; //禁止文本选择
  -webkit-text-size-adjust: 100%;//禁止文本缩放
  -webkit-tap-highlight-color: transparent;//只适用于ios 去除高亮
  //outline: 0 去除pc端点击后出现的虚动端不起作用
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,header,hgroup,nav,section,article,aside,footer,figure,figcaption,menu,button {
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0
}

button {
  -webkit-appearance: none; //取消原生外观(iOS下有效)
  border: 0;
  background: 0 0;
}

textarea{
  -webkit-appearance: none;//去除输入框内阴影 ios
}

a {
  -webkit-touch-callout: none;//禁用长按页面时的弹出菜单(iOS下有效)
  text-decoration: none;
}

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

em,
i {
  font-style: normal;
}

img{
  display: block;
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: #999; //重写 placeholder
}

::-webkit-search-cancel-button {
  display: none;//去除input search
}